{% extends "../sub_base.html" %}
{% block title %}Registro{% endblock %}
{% block sub_content %}

<form class="account-form" action="." method="post">
  {% csrf_token %}
  <h3 class="mb-2">Crear una cuenta</h3>
  <p class="mb-4">Es gratis, y solo toma unos momentos</p>

  {% if form.errors %}
  <p>Porfavor corrija los siguientes errores</p>
  {% for field in form %}
  {% if field.errors %}
  <div class="alert alert-primary" role="alert">
    {{ field.label }}: {{ field.errors|striptags }}
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}

  <label>{{ form.user_name.label }}<span class="text-muted small">
      (Required)</span></label>
  {{ form.user_name }}
  <label>{{ form.email.label}}<span class="text-muted small">
      (Required)</span></label>
  {{ form.email }}
  <label>{{ form.password.label}}<span class="text-muted mb-4">
    </span></label>
  <small class="form-text text-muted mb-4 small">
    Al menos 8 caracteres y un numero
  </small>
  {{ form.password }}
  <label>{{ form.password2.label}}<span class="text-muted small">
      (Requerido)</span></label>
  {{ form.password2 }}
  <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw500 w-100" type="submit">Registrar</button>
  <p class="text-center">
    <a href="{% url "account:login" %}">¿Ya estás registrado?</a>
  </p>
</form>

{% endblock %}